<div class="container" style="height: 60vh;">
  <div class="row">
    <div class='mx-auto col-12 col-sm-10 col-lg-8 col-xl-6'>
       <div class="card  border-success bg-light  width="100%" height="160" 　mt-4 shadow-lg">
      <h1>背景素材おきば</h1>
      <p></p>
      <p>ここは、背景素材になりそうな写真やイラストを投稿できるサイトです。</p>
      <p>「せっかく撮ったけど、誰か見せるほどじゃないかな」</p>
      <p>「こんな下手なイラスト、誰も使わないだろう」</p>
      <p>削除する前に、一度投稿してみませんか。</p>
      <p> あなたに必要なくても、誰かがそれを必要としているかもしれませんよ。</p>
      <div class="btn-wrapper col-10 mx-auto mb-16">
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-success btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-danger btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>